.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    background: white;
    width: 96%;
    margin-top: 1.8rem;
    height: 93vh;
    border-radius: 0.4rem;
}

.side-bar {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.214);
}

.main-content {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.header {
    background: #0000000a;
    flex: 2;
    max-height: 4rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.content {
    flex: 13;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.profile-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

}

.side-bar-header-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.profile-avatar img {
    width: 3rem;
    border-radius: .4rem;
}
.side-bar-menu {
    padding: .1rem .2rem;
    margin-right: 1rem;
}
.side-bar-menu:hover {
    background: rgba(0, 0, 0, 0.101);
    border-radius: 5rem;
}
.side-bar-menu img {
    width: 2rem;
    border-radius: .4rem;
}